.hero-section-container {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.ellipse {
    padding: 0 0;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ellipse-one {
    opacity: 0.3;
    transform: matrix(-0.23, -1.17, 0.72, -0.51, 0, 0);
    border-radius: 50%;
    border-top: 2px solid var(--W);

    padding: 0px;
    width: 383px;
    height: 715px;
    position: absolute;
    animation: rotateEllipseOne 2s linear infinite;
    transition: ease-out;
}
.ellipse-two {
    opacity: 0.1;
    transform: matrix(0.23, -1.17, -0.72, -0.51, 0, 0);
    border-radius: 50%;
    border-top: 2px solid var(--W);
    border-left: 2px solid var(--W);
    width: 383px;
    height: 715px;
    animation: rotateEllipseTwo 2s linear infinite;
}
@keyframes rotateEllipseOne {
    0% {
        border-top: 2px solid var(--W);
        border-right: 2px solid var(--W);
        border-bottom:none;
        border-left:none;
    }
    50% {
        border-bottom: 2px solid var(--W);
        border-left: 2px solid var(--W);
        border-top:none;
        border-right:none;
    }
    100% {
        border-bottom: 2px solid var(--W);
        border-right: 2px solid var(--W);
        border-top:none;
        border-left:none;
        }
}
@keyframes rotateEllipseTwo {
    0% {
        border-top: 2px solid var(--W);
        border-right: 2px solid var(--W);
        border-left: 2px solid var(--W);
        border-bottom: none;
    }
    50% {
        border-bottom: 2px solid var(--W);
        border-left: 2px solid var(--W);
        border-right: none;
        border-top: 2px solid var(--W);
    }
    100% {
        border-top: 2px solid var(--W);
        border-left: 2px solid var(--W);
        border-bottom: none;
        border-right: none;
    }
}

.hero-section-text {
    text-align: center;
}
.hero-section-text h3 {
    font-weight: 800;
    font-size: 40px;
    line-height: 100px;
    color: var(--B5);
    padding-top: 115px;
}
.hero-section-text h1 {
    font-weight: 800;
    font-size: 112px;
    line-height: 100px;
    background: var(--GradientOne);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-bottom: 42px ;
    animation: colorchange 7s linear infinite;
}
@keyframes colorchange {
    0% {
        background: linear-gradient(135deg, #FF6EFF 0%, #0AB7F6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    50% {
        background: linear-gradient(135deg, #0AB7F6 0%, #FF6EFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(135deg, #62FF8E 0%, #25B1FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}
.hero-section-text p {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--W);
    width: 60%;
    margin: auto;
    padding-bottom: 42px;
}

.hero-section-text button {
    padding: 16px 33px;
    background: none;
    border: 1px solid;
    border-image: linear-gradient(135deg, #FF6EFF 0%, #0AB7F6 100%);
    background-clip: border-box;
    color: var(--B5);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 146px;
}
.hero-section-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
}
.hero-section-socials ul {
    padding-top: 542px;
    display: flex;
    flex-direction: column;
}
.hero-section-socials ul li{
    font-weight: 400;
    padding-top: 27px;
    font-size: 16px;
    line-height: 15px;
    color:var(--W);
    transform: rotate(270deg);
}
.hero-section-socials ul li:nth-child(5) {
    padding: 6px;
}
.socials-circle {
    margin: 16px 0 0 20px;
    background: var(--GradientOne);
    padding: 6px;
    width: 2px;
    border-radius: 50%;
}
@media (max-width: 1024px) {
    .ellipse {
        padding: 0 0;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
    }
    .hero-section-text h3 {
        font-size: 32px;
        line-height: 31px;
        padding-top: 86px;
    }
    .hero-section-text h1 {
        font-weight: 800;
        font-size: 80px;
        line-height: 88px;
        background: var(--GradientOne);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        padding-bottom: 42px;
        animation: colorchange 7s linear infinite;
    }
    .hero-section-text p {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.01em;
        color: var(--W);
        width: 85%;
        margin: auto;
        padding-bottom: 42px;
    }
    .hero-section-text button {
        padding: 16px 33px;
        background: none;
        border: 1px solid;
        border-image: linear-gradient(135deg, #FF6EFF 0%, #0AB7F6 100%);
        background-clip: border-box;
        color: var(--B5);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        margin-bottom: 146px;
    }
}