.card-body{
   margin: 0px 20px;
   min-width: 720px;
   position: relative;
   cursor: pointer;
}

.card-top{
   position: relative;
   z-index: 2;
   /* border-radius: 5px; */
   overflow: hidden;
}

.card-center{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   position: relative;
   z-index: 2;
}

.card-center > h2{
   font-weight: 800;
   font-size: 32px;
   line-height: 31px;
}

.card-center > p {
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   max-width: 400px;
}

.card-bottom{
   position: absolute;
   z-index: 1;
   background-color:transparent;
   top: 20%;
   width: 100%;
   transition: ease-in-out 0.5s all;
}

.card-btn{
   display: flex;
   align-items: center;
}

.card-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 55px;
   height: 55px;
   border-radius: 50%;
   border-width: 2px;
   border-style: solid;
   border-color: linear-gradient(135deg, #FF6EFF 0%, #0AB7F6 100%);
   margin-right: 12px;
}

.card-btn > h5{
   font-weight: 400;
   font-size: 16px;
   line-height: 15px;
   color: #C4C4C4;
}

.card-body:hover > .card-bottom{
   top: 100%;
}

.card-bottom-tab{
   display: none;
}

@media screen and (max-width: 1024px){
   .card-body{
      margin: 0px 20px;
      max-width: 620px;
      position: relative;
      cursor: pointer;
   }

   .card-top{
      max-height: 368px;
   }

   .card-center{
      display: flex;
      flex-direction: column;
   }

   .card-center > h2{
      font-weight: 800;
      font-size: 28px;
      line-height: 27px;
   }

   .card-center > p {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      min-width: 600px;
      margin-top: 10px;
   }

   .card-bottom{
      display: none;
   }

   .card-bottom-tab{
      display: flex;
      margin-top: 28px;
   }

   .card-btn > h5{
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #C4C4C4;
   }
}

@media screen and (max-width: 568px) {
   .card-body{
      margin: 20px auto;
      max-width: 500px;
      position: relative;
      cursor: pointer;
   }

   .card-top{
      max-height: 300px;
      object-fit: contain;
      display: block;
   }

   .card-center > h2{
      font-weight: 800;
      font-size: 25px;
      line-height: 27px;
   }

   .card-center > p {
      font-size: 16px;
      min-width: 100px;
      flex-wrap: wrap;
   }
}

@media screen and (max-width: 378px){
   .card-body{
      margin: 70px auto;
      max-width: 335px;
      max-height: 368px;
      position: relative;
      cursor: pointer;
   }

   .card-center > p {
      font-size: 14px;
      max-width: 300px;
      flex-wrap: nowrap;
   }

   .card-icon{
      width: 40px;
      height: 40px;
      margin-right: 14px;
   }

   .card-btn > h5{
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #C4C4C4;
   }
} 